@page "/"

<PageTitle>Home</PageTitle>

<html>
<head>
     <title>Home</title>
</head>
<body>
    <h1>Bienvenido a la primera asignacion de Programacion Aplicada</h1>

    <hr>
    <p>En esta pagina web Blazor, podra registrar las prioridades que desee.</p>
    <br>
    <p>Podra hacer lo siguiente:</p>
    
    <ol>
        <li>Registrar Prioridades</li>
        <ul>
            <li style="list-style-type:disc" >Agregar prioridad a la base de datos</li>
            <li style="list-style-type:disc">Eliminar prioridad</li>
            <li style="list-style-type:disc">Buscar Prioridad</li>
        </ul>
        <br>
        <li>Consultar Prioridades</li> 
    </ol>
    <hr>
    <h5>Espero que su estadia en esta web sea agradable para usted.</h5>
    <p>Hasta la proxima :)</p>
    </body>
</html>



@code{
	
}
