@page "/consultaPrioridades"

@inject PrioridadesBLL PrioridadesBLL

<PageTitle>Consulta de Prioridades</PageTitle>

<h1>Consulta de Prioridades</h1>

<div>
	<a href="/registroPrioridades"><i>Agregar Prioridad</i> </a>
</div>
<hr/>

<body>
	<table class="table table-dark table-striped-columns">
		<thead>
			<tr bgcolor = "lightgrey">
				<th>Id Prioridad</th>
				<th>Descripcion</th>
				<th>Dias Compromiso</th>
			</tr>
		</thead>

		<tbody>
			@foreach(var prioridad in prioridades)
			{
			<tr>
				<td>@prioridad.IdPrioridad</td>
				<td>@prioridad.Descripcion</td>
				<td>@prioridad.DiasCompromiso</td>
				<td><a href="/editarClientes/@prioridad.IdPrioridad"> <i>Editar</i> </a> </td>
			</tr>
			}

		</tbody>


	</table>

	</body>

@code{
    public List<Prioridades> prioridades { get; set; } = new List<Prioridades>();
    public Prioridades prioridad {get; set;} = new Prioridades();

	protected override void OnInitialized()
	{
        prioridades = PrioridadesBLL.GetList(c => true);
	}
}