@page "/consultaPrioridades"

@inject PrioridadesBLL PrioridadesBLL

<PageTitle>Consulta de Prioridades</PageTitle>

<h1>Consulta de Prioridades</h1>

<div>
	<a href="/registroPrioridades"><i>Agregar Prioridad</i> </a>
</div>
<hr/>

<body>
	<table class="table">
		@*Cabecera de la taba de Prioridades*@
		<thead>
			<tr bgcolor = "skyblue">
				<th>Id Prioridad</th>
				<th>Descripcion</th>
				<th>Dias Compromiso</th>
			</tr>
		</thead>
		@*Cuerpo de la tabla prioridad*@
		<tbody>
			@foreach(var prioridad in prioridades)
			{
			<tr bgcolor = "lightgray">
				<td>@prioridad.IdPrioridad</td>
				<td>@prioridad.Descripcion</td>
				<td>@prioridad.DiasCompromiso</td>
				<td><a href="/editarPrioridades/@prioridad.IdPrioridad"> <i>Editar</i> </a> </td>
			</tr>
			}
		</tbody>
	</table>
</body>


@code{
    public List<Prioridades> prioridades { get; set; } = new List<Prioridades>();
    public Prioridades prioridad {get; set;} = new Prioridades();

	protected override void OnInitialized()
	{
        prioridades = PrioridadesBLL.GetList(c => true);
	}
}