@page "/consultaSistemas"

@inject SistemasBLL SistemasBLL

<PageTitle>Consulta de Sistemas</PageTitle>

<h1>Consulta de Sistemas</h1>

<div>
	<a href="/registroSistemas"><i>Agregar Sistema</i> </a>
</div>
<hr/>

<body>
	<table class="table table-dark table-striped-columns">
		@*Cabecera de la tabla sistema*@
		<thead>
			<tr bgcolor = "lightgrey">
				<th>Id sistema</th>
				<th>Nombre</th>
			</tr>
		</thead>
		@*Cuerpo de la tabla sistema*@
		<tbody>
			@foreach(var sistema in sistemas)
			{
			<tr>
				<td>@sistema.SistemaId</td>
				<td>@sistema.Nombre</td>
				<td><a href="/editarSistemas/@sistema.SistemaId"> <i>Editar</i> </a> </td>
			</tr>
			}
		</tbody>
	</table>
</body>


@code{
    public List<Sistemas> sistemas { get; set; } = new List<Sistemas>();
    public Sistemas sistema {get; set;} = new Sistemas();

	protected override void OnInitialized()
	{
        sistemas = SistemasBLL.GetSistemas(c => true);
	}
}