@page "/registroPrioridad"
@page "/registroPrioridad/{IdPrioridad:int}"

@inject PrioridadBLL  PrioridadBLL
@inject NavigationManager NavigationManager


<h1>Registro de Prioridades</h1>

<EditForm model="Prioridad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro</h3>
            </div>
            <div class=card-body>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Id Prioridad</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="prioridad.IdPrioridad" class="form-control" aria-describedby="BotonBuscar"  />
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass" /></button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Descripcion">Descripcion:</label>
                    <InputText @bind-Value="prioridad.Descripcion" class="form-control" ></InputText>
                    <ValidationMessage For="@(()=>prioridad.Descripcion)" />
                </div>

               

                <div class="mb-3">
                    <label class="form-label" for="DiasCompromiso">Dias de compromiso:</label>
                    <InputNumber @bind-Value="prioridad.DiasCompromiso" class="form-control" ></InputNumber>
                    <ValidationMessage For="@(()=>prioridad.DiasCompromiso)" />
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file" /></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash" /></button>
                </div>
            </div>
        </div>
    </div>


</EditForm>




@code {
    [Parameter]
    public int IdPrioridad{ get; set; }

    public Prioridad prioridad { get; set; } = new Prioridad();

    protected override void OnInitialized()
    {
        if (IdPrioridad > 0)
        {
            this.prioridad.IdPrioridad = IdPrioridad;
            this.Buscar();
        }
    }

    public void Buscar()
    {
        var prioridadEncontrada = PrioridadBLL.Buscar(prioridad.IdPrioridad);
        if(prioridadEncontrada != null)
        {
            this.prioridad = prioridadEncontrada;
        }
    }

    public void Nuevo()
    {
        this.prioridad = new Prioridad();
    }

    public void Repetido()
    {

        if (!Validar())
        {
            return;
        }
        if(prioridad.Descripcion == prioridad.Descripcion)
        {
            this.Eliminar();
        }
    }


    public void Guardar()
    {
        if (!Validar())
        {
            return;
        }

        if (PrioridadBLL.Guardar(this.prioridad))
        {
            this.Nuevo();
            
        }
        NavigationManager.NavigateTo("/registroPrioridad");
    }

    public bool Validar()
    {
        return prioridad.Descripcion != null && prioridad.DiasCompromiso > 0 && prioridad.DiasCompromiso <= 32;
    }

    public void Eliminar()
    {
        Buscar();
        if (PrioridadBLL.Eliminar(this.prioridad))
        {
            this.Nuevo();
        }
        NavigationManager.NavigateTo("/registroPrioridad");
    }
}
