@page "/editarPrioridades"
@page "/editarPrioridades/{PrioridadId:int}"

@inject PrioridadesBLL PrioridadesBLL
@inject NavigationManager NavigationManager

<PageTitle>Modificar Cliente </PageTitle>

<h1>Modificar cliente</h1>

<EditForm Model="@prioridades">
	<table class ="table">
		<tr>
			<td>
				Nombre:
			</td>
			<td><input class = "form-control col-sm-4" type="text" @bind="prioridades.Descripcion" /></td>

		</tr>
		<tr>
			<td>Telefono:</td>
			<td><input class="form-control col-sm-4" type="text" @bind="prioridades.DiasCompromiso" /></td>
		</tr>
		<br>
		<tr>
			<td colspan="2" style ="text-align:center">
				<button type ="submit"class="btn btn-outline-success" @onclick="Guardar">Guardar <i class ="oi oi-document" /></button>
				<button type ="submit"class="btn btn-outline-warning" @onclick="Cancelar">Cancelar <i class ="oi oi-warning" /></button>
			</td>
		</tr>
	</table>
</EditForm>

@code {

	[Parameter]
	public int PrioridadId { get; set; }

	private Prioridades prioridades = new Prioridades();

	protected override void OnInitialized()
	{
		this.prioridades.IdPrioridad = PrioridadId;
        this.Buscar();
	}

	public void Guardar()
	{
		PrioridadesBLL.Guardar(prioridades);

		NavigationManager.NavigateTo("/consultaPrioridades");
	}

	public void Cancelar()
	{
		NavigationManager.NavigateTo("/consultaPrioridades");
	}

    public void Buscar()
    {
        var clienteEncontrado = PrioridadesBLL.Buscar(prioridades.IdPrioridad);

        if(clienteEncontrado != null)
        {
            this.prioridades = clienteEncontrado;
        }
    }
}